/**************** body section style ****************/
.leftDiv
{
    float:left;
    margin-left: 50px;
    padding: 30px;
    width: 40%;
}
.rightDiv
{
    float: right;
    margin: auto;
    width: 30%;
}
.map
{
    border: none;
    width: 350px;
    height: 250px;
}